form{
   
        padding:20px;
        max-width: 1500px;
        margin: 0 auto;
      
}
.title ,.summary, .files{
   width: 100%;
   height: 30px;
   margin: 10px;
}
.button{
    margin-top: 10px;
    width: 100%;
    height: 35px;
}
.texteditor{
    height: 30%;
}