@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding:20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  main{
    /* border: 1px solid black; */
  
  }
.time{
    font-family: 'Noto Sans';
    font-size: 15px;
    color: grey;
    position: relative;
    left: 40%;
    transform: translate(-50%);
    /* background-color: red; */
    /* margin-bottom: 30px; */
}
.title{
    margin-top: 30px;
    margin-bottom: -20px;
    font-size: 70px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.files{
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.103);
    display: flex;
    border-radius: 30px;
    justify-content: center;
    max-width: 100%;
    height: auto;
    /* border: 5px solid black; */
}
.files img{
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    /* border: 10px solid black; */
}
.summary{
    margin-top: 70px;
    margin-bottom: 40px;
    font-family: "Inter", Helvetica, arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.content{
    font-family: "Inter", Helvetica, arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 70px;
    max-width: 100%;
    height: auto;
  /* border: 1px solid black; */
    /* background-color: red; */
}
.content img{
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}